<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Newest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/news/category/global}">Global</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/news/category/local}">Local</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/news/category/culture}">Culture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/news/category/sports}">Sports</a>
                    </li>
                </ul>
                <a class="btn btn-outline-primary" th:href="@{/news/add}">Add a new article</a>
            </nav>
        </header>

    </body>
</html>
