<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>News</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>List of news</h1>

        <ul>
            <li th:each="news : ${allNews}">
                <a th:href="@{/news/{id}(id=${news.id})}">
                    <span th:text="${news.title}">title</span>
                </a>
            </li>
        </ul>

        <h1>Add a news</h1>

        <form th:action="@{/news}" method="POST">
            <p>Title: <input name="title"></input></p>
            <p>Content: <input name="content"></input></p>
            <input type="submit" value="Add"></input>
        </form>

    </body>
</html>
