<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>News</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
        <link rel="stylesheet"  href="../static/css/main.css" th:href="@{/css/main.css}"/>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>Newest news</h1>
        <div class="card-columns">
            <div class="card" th:each="news : ${allNews}">
                <img class="card-img-top" th:src="${news.imgUrl}" alt="a news image"/>
                <div class="card-body">
                    <a th:href="@{/news/{id}(id=${news.id})}">
                        <h4 class="card-title" th:text="${news.headline}">title</h4>
                    </a>
                    <p class="card-text" th:text="${news.subheading}">subheading</p>
                </div>
            </div>
        </div>
    </body>
</html>
