<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Kirjat</title>
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <a th:href="@{/add}">Lisää kirja</a>
        <ul>
            <li th:each="book : ${books}">
                <a th:href="@{/book/{id}(id=${book.id})}">
                    <span th:text="${book.name}">title</span>
                </a>
            </li>
        </ul>
    </body>
</html>